body{
    margin: 0;
    padding: 0;
    background-color:#E4E6EB;
    font-family: 'Inter';
    font-style: normal;
}
header{
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
.header-menu{
    margin: 0;
    padding-left: 15px;
}
.header-menu .items{
    display: inline-block;
}
.items{
    padding: 15px;
    background-color: #F0F0F6;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
}
.items img{
    vertical-align: middle;
}
.active{
    background-color: #FFB400;
}
.main-container{
    display: flex;
    position: relative;
    top: 63px;
    justify-content: space-between;
}
.side-container{
    background-color: #fff;
    width: 19.5%;
}
.content-container{
    height: 100vh;
    width: 80%; 
} 
.profile-details{
    text-align: center;
}
.profile-photo{
    background-color: #E4E6EB;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto 0px auto;  
}
.name{
    font-weight: bold;
    font-size: 18px;
    line-height: 123.6%;
    color: #2B2B2B;
    margin-bottom: 0;
}
.personal-details p{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #767676;
    margin-top: 10px;
}
.social-media-profiles{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.sm-icon{
    padding: 2px;
    background-color: #FFB400; 
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 5px;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.sm-icon a img{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}
.divider{
    margin-top: 20px;
    width: 80%;
    border: 1.5px solid #F0F0F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
}
.address-details{
    margin-top: 30px;
    text-align: left;
}
.a-detail{
    margin: 0 auto;
    width: 80%; 
    margin-top: 10px; 
}
.info{
    background-color: #FFB400;
    width: 35%;
    padding: 1px;
    display: inline-block;
}
.info-detail{
    width: 60%;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}
.freelance{
    color: #7EB942;
}
.separator{
    width: 80%;
    border: 1.5px solid #F0F0F6;
    margin-top: 20px;   
}
.languages-skills{
    width: 80%;
    text-align: left;
    margin: 25px auto;
}
.sidenav-headings{
    color: #2B2B2B;
    font-weight: bold;
    font-size: 18px;
    line-height: 123.6%;
}
.l-s-details{
    display: flex;
    justify-content: space-between;
}
.percentage-bar{
    margin-top: 6px;
    border: 1px solid #FFB400;
    width: 99%;
    height: 2px;
    border-radius: 30px;
    padding: 1px;
    margin-bottom: 12px;
}
.progress{
    background-color: #FFB400;
    height: 2px;
    width: 100%;
}
.english, .html{
    width: 90%;
}
.hindi{
    width: 70%;
}
.css{
    width: 80%;
}
.extraskill{
    margin-left: 20px;
    vertical-align: middle;
}
.e-skill-img{
    vertical-align: middle;
}
.e-skill-details{
    margin-top: 10px;
}
.download-CV{
    background-color: #FFB400;
    width: 80%;
    margin: 20px 0px 30px;
    padding: 8px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    background-image: url("../images/downloadCV.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 170px;
    cursor: pointer;
}
.introduction{
    width: 95%;
    height: 467.09px;
    background-color:#fff;
    margin: 0 auto;
    display: flex;
    padding-top: 80px;
    padding-left: 60px;
    box-sizing: border-box;
    justify-content: space-evenly;
}
.intro-details{
    width: 45%;
}
.intro-details h1{
    color: #2B2B2B;
    font-weight: 700;
    font-size: 48px;
    line-height: 123.6%;
}
.intro-details span{
    color: #FFB400;
}
.intro-details p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;
    color: #767676;
    text-align: justify;
}
#hire-button{
    width: 152px;
    height: 54px;
    background-color: #FFB400;
    border: none;
    border-radius: 5px;
    background-image: url("/images/hire-me\ arrow.png");
    background-repeat: no-repeat;
    background-position-x: 120px;
    background-position-y: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.intro-photo img{
    margin-top: -72px;
}
.sub-content-container{
    width: 95%;
    margin: 80px auto;
}
.sub-content-h2{
    color: #2B2B2B;
    font-weight: 700;
    font-size: 32px;
    line-height: 123.6%;
    text-transform: capitalize;
    text-align: center;
}
.sub-content-p{
    color: #767676;
    width: 438px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}
.sub-content-box{
    width: 100%;
    height: 632px;
    background-color: #fff;
    padding: 47px 29px 38px 37px;
    box-sizing: border-box;
}
.sub-items{
    height: 150px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.edu-name-certificate{
    font-size: 18px;
    line-height: 123.6%;
    text-transform: capitalize;
    color: #2B2B2B;
}
.edu-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;
    color: #2B2B2B;
}
.edu-duration{
    background-color: #FFB400;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    line-height: 100.9%;
    width: 111px;
    height: 18px;
    margin-left: 30px;
    padding: 4px 7px;
}
.sub-item2{
    width: 60%;
}
.edu-certi-details{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;    
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;
    color: #767676;
    text-align: justify;
}
.sub-items-separator{
    height: 1px;
    background-color: #F0F0F6;
    border: none;
    width: 90%;
}
.card-container{
    width: 100%;
}
.cards{
    display: flex;
    width: 100%;
    overflow-x: scroll;
}
.card{
    width: 310px;
    height: 474px;
    background-color: #fff;
    flex-shrink: 0;
    margin-left: 15px;
}
.project-content{
    width: 80%;
    margin: 0 auto;
}
.p-r-heading{
    font-size: 18px;
    font-weight: bold;
    line-height: 123.6%;
    text-transform: capitalize;
    color: #2B2B2B;
}
.p-r-description{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;
    color: #767676;
}
.learn-more{
    color: #FFB400;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    cursor: pointer;
}
.learn-more img{
    margin-left: 5px;
}
.arrow-left{
    font-size: 60px;
    position: absolute;
    margin-top: 15%;
    cursor: pointer;
}
.arrow-right{
    font-size: 60px;
    position: absolute;
    right: 30px;
    margin-top: 15%;
    cursor: pointer;
}
.recommends{
    overflow: hidden;
}
.recommend{
    width: 330px;
    height: 323px;
    background-color: #fff;
    flex-shrink: 0;
    margin-left: 20px;
    padding: 25px;
    box-sizing: border-box;
}
.first-recommend{
    margin-left: 0;
}
.r-comment-writer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: fit-content;
}
.r-comment-details{
    margin-left: 30px;
    margin-top: 15px;
}
.contact-container{
    width: 100%;
    display: flex;
    gap: 20px;
}
.contact{
    width: 370px;
    height: 210px;
    background-color: #fff;
}
.contact-icon{
    background-color: #FFB400;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    margin: 30px auto;
}
.contact-icon img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact-details{
    display: flex;
    justify-content: space-between;
    margin: 15px 30px;
}
.contact-field{
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    color: #767676;
}
.contact-field-detail{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #767676;
}
